---
# Clang-Format configuration for Ludus Engine
# Based on Microsoft/LLVM style with custom adjustments

BasedOnStyle: Microsoft
Language: Cpp
Standard: c++23

# Pointer and reference alignment: stick with type (int* ptr, not int *ptr)
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentAccessModifiers: false
IndentCaseLabels: false
IndentPPDirectives: BeforeHash

# Braces
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Line breaking
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: 120
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

# Namespaces
CompactNamespaces: false
FixNamespaceComments: true
NamespaceIndentation: None

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^<Ludus/'
    Priority: 1
  # C system headers
  - Regex: '^<[a-z_]+\.h>'
    Priority: 2
  # C++ standard library
  - Regex: '^<[a-z_]+>'
    Priority: 3
  # Other libraries
  - Regex: '.*'
    Priority: 4

# Other
ReflowComments: true
SortUsingDeclarations: true
