---
# Clang-Format configuration for Ludus Engine
# Based on LLVM style with game engine customizations

BasedOnStyle: LLVM
Language: Cpp
Standard: c++23
LineEnding: LF

# Pointer and reference alignment: stick with type semantics (int *ptr, not int* ptr)
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentAccessModifiers: false
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IndentWrappedFunctionNames: true
ContinuationIndentWidth: 8

# Braces
BreakBeforeBraces: Stroustrup
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
Cpp11BracedListStyle: true

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Line breaking
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: 100
BinPackParameters: false
BinPackArguments: false
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: NextLine

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

# Namespaces
CompactNamespaces: false
FixNamespaceComments: true
NamespaceIndentation: All
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^\.'
    Priority: 1
  - Regex: '^"Ludus/'
    Priority: 2
  - Regex: '^<Ludus/'
    Priority: 3
  - Regex: '^<sys/.*>'
    Priority: 4
  - Regex: '^<[a-z_]+\.h>'
    Priority: 5
  - Regex: '^<[a-z_]+>'
    Priority: 6
  - Regex: '^<.*>'
    Priority: 7
  - Regex: '.*'
    Priority: 8

# Other
ReflowComments: false
SortUsingDeclarations: true
InsertTrailingCommas: Wrapped
DeriveLineEnding: true
