/out/
/CMakeUserPresets.json
/compile_commands.json

__pycache__/
*.pyc
*.pyo

.cache/
.clangd/
.cmake/

.vscode/.ropeproject/
.vscode/ipch/
.vscode/*.code-workspace
!.vscode/settings.json
!.vscode/extensions.json
